@import '~@angular/material/theming';
@import '~src/theme-define.scss';

@mixin main-layout($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));

  .main-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header {
    background: $primary;
    height: 56px;
    z-index: 100;
    position: relative;
    .nav-wrapper {
      max-width: $full-content-width;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  .logo-title {
    font-family: fantasy;
    color: #4a4a4a;
    font-size: 22px;
    text-align: right;

    max-width: $full-content-width;
    right: 0;
    left: 0;
    bottom: 20px;
    margin: auto;
    padding: 0 12px;
    position: absolute;
    i.iconfont {
      font-size: 24px;
    }
  }
  .banner {
    height: 244px;
    width: 100%;
    z-index: 50;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .banner-mask {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    transition: all 500ms 200ms ease;
    max-width: $full-content-width;
    min-height: calc(100vh - 56px);
    margin: auto;
    margin-top: 24px;
    left: 0;
    right: 0;
    main {
      flex: 1;
      position: relative;
      margin: 0 24px;
      max-width: $full-content-width - 316px - 48px;
    }
    .side-panel-wrapper {
      flex-shrink: 0;
      width: 316px;
      padding-top: 24px;
      box-sizing: border-box;
    }
    &.middle-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: unset;
      .side-panel-wrapper {
        flex: 1;
        margin: 0 24px;
        width: calc(100% - 48px);
      }
    }
    &.small-main {
      main {
        margin: 0;
      }
      .side-panel-wrapper {
        flex: 1;
        margin: 0;
        width: 100%;
      }
    }
  }

  footer {
    transition: all 0.4s ease;
    background: #4a4a4a;
    padding: 12px;

    .footer-content {
      max-width: $full-content-width;
      margin: auto;
      left: 0;
      right: 0;
      font-size: 12px;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      color: white;
      a {
        color: mat-color(map-get($theme, primary), 100);
      }
      .beian-container {
        margin-left: 8px;
        align-self: flex-end;
        transition: color 0.4s ease;
        margin-right: 48px;
      }
    }
  }
}

@include main-layout($ink-app-theme);
