<header>
  <div class="nav-wrapper">
    <app-nav-menu [expand]="(screenSize$ | async) >= 1"></app-nav-menu>
  </div>
</header>

<ng-container
  [ngTemplateOutlet]="(screenSize$ | async) >= 2 ? fullMain : middleMain"
></ng-container>

<app-model [hidden]="(screenSize$ | async) < 2"></app-model>

<footer>
  <div class="footer-content">
    <div class="copy">
      Content from
      <a href="mailto:frodoluo@outlook.com">FrodoLuo</a>
      Based on
      <a href="https://angular.io" target="_blank">Angular Universal</a>
      and
      <a href="https://material.angular.io" target="_blank">Material Design</a>
    </div>
    <div class="beian-container">
      <div class="beian">
        <a href="http://www.beian.miit.gov.cn/" target="_blank"
          >粤ICP备19145545号</a
        >
      </div>
    </div>
  </div>
</footer>

<ng-template #fullMain>
  <div class="main-container">
    <main [@routerAnimation]="outlet && outlet.activatedRouteData">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <div class="side-panel-wrapper" [appSticky]="32">
      <app-side-panel></app-side-panel>
    </div>
  </div>
</ng-template>

<ng-template #middleMain>
  <div
    class="main-container middle-main"
    [class.small-main]="(screenSize$ | async) < 1"
  >
    <main [@routerAnimation]="outlet && outlet.activatedRouteData">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <div class="side-panel-wrapper">
      <app-side-panel></app-side-panel>
    </div>
  </div>
</ng-template>
