@import "~@angular/material/theming";
@import "~src/theme-define.scss";

@mixin main-layout($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));

  .main-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header {
    background: $primary;
    height: 56px;
    .nav-wrapper {
      max-width: $main-width;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    transition: all 500ms 200ms ease;
    max-width: $main-width;
    min-height: calc(100vh - 56px);
    margin: auto;
    left: 0;
    right: 0;
    main {
      flex: 1;
      position: relative;
      margin: 0 16px;
    }
    .side-panel-wrapper {
      flex-shrink: 0;
      width: 316px;
      padding-top: 24px;
      box-sizing: border-box;
    }
  }

  footer {
    transition: all 0.4s ease;
    background: #4a4a4a;
    padding: 24px;

    .footer-content {
      max-width: $main-width;
      margin: auto;
      left: 0;
      right: 0;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      .beian-container {
        align-self: flex-end;
        color: white;
        transition: color 0.4s ease;

        margin-right: 48px;

        a {
          color: mat-color(map-get($theme, primary), 100);
        }
      }
      .contact-container {
        color: white;

        .contact-icon-wrapper {
          display: flex;
          margin-left: -16px;
          a {
            height: 64px;
            width: 64px;
            line-height: 64px;

            i {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@include main-layout($ink-app-theme);
