<header>
  <div class="nav-wrapper">
    <app-nav-menu></app-nav-menu>
  </div>
</header>
<div
  [@routerAnimation]="outlet && outlet.activatedRouteData"
  class="main-container"
>
  <main>
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>

<footer>
  <div class="footer-content">
    <div class="beian-container">
      <h3>Certification</h3>
      <div class="copy">
        Content from
        <a href="mailto:frodoluo@outlook.com">FrodoLuo</a>
        <br />
        Based on
        <a href="https://angular.io" target="_blank">Angular Universal</a>
        and
        <a href="https://strapi.io/" target="_blank">Strapi</a>
      </div>
      <div class="beian">
        <a href="http://www.beian.miit.gov.cn/" target="_blank"
          >粤ICP备19145545号</a
        >
      </div>
    </div>

    <div class="contact-container">
      <h3>Contact Me</h3>
      <div class="contact-icon-wrapper">
        <a mat-button target="_blank" href="https://github.com/FrodoLuo"
          ><i class="iconfont icon-github"></i
        ></a>
        <a mat-button target="_blank" href="https://twitter.com/luo_yuzhou"
          ><i class="iconfont icon-twitter"></i
        ></a>
        <a mat-button href="mailto:frodoluo@outlook.com">
          <mat-icon>mail</mat-icon>
        </a>
      </div>
    </div>
  </div>
</footer>

<ng-template #contact> </ng-template>
