<div class="content-wrap">
  <div class="banner-wrap">
    <div class="banner-content">
      <div class="cover-title">
        <h1>
          FrodoLuo
        </h1>
        <h1></h1>
        <h1>笔记</h1>
        <h1>所思所想与所见</h1>
      </div>
      <div class="holding-line-wrap">
        <div class="holding-line"></div>
        <div class="holding-line"></div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <section class="recent-articles">
      <h1>Recents</h1>
      <div class="article-list">
        <div *ngFor="let article of articleList" class="article-list-item">
          <a [routerLink]="'/blog/' + article.id">{{article.title}}</a>
        </div>
        <a class="article-list-more" routerLink="/blog">
          More
        </a>
      </div>
    </section>
    <section class="brief-intro">
      <h1>Me</h1>
      <div class="timeline-container">
        <div class="timeline-item">
          1996
        </div>
        <div class="timeline-item" *ngFor="let career of (career$ | async)">
          {{career.year}}
          <div class="circle">
            <img [src]="career.source" />
          </div>
        </div>
        <div class="timeline-item last">
          つづく
          <div>.</div>
          <div>.</div>
          <div>.</div>
        </div>
      </div>
    </section>
  </div>

</div>
