@import "~@angular/material/theming";
@import "~src/theme-define.scss";

@mixin index-layout($theme) {
  $primary: mat-color(map-get($theme, primary));

  .toolbar {
    background-color: transparent;
    color: white;
    transition: background ease 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    a {
      font-family: "ming";
    }

    .mat-icon {
      transition: color ease 0.3s;
    }

    .nav-content {
      max-width: 1024px;
      width: 100%;
      margin: auto;
    }
  }

  .toolbar:hover {
    background-color: $primary;
    color: white;
  }

  .footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    line-height: 30px;

    a {
      color: $primary;
      cursor: pointer;
      text-decoration: none;
      transition: all ease 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@include index-layout($ink-app-theme);
