<mat-toolbar class="toolbar">
  <div class="nav-content">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="blog">Blog</a>
  </div>
</mat-toolbar>
<app-motion-background></app-motion-background>
<div class="page">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="copy">
    Content from
    <a href="mailto:frodoluo@outlook.com">FrodoLuo</a>
    | Based on
    <a href="https://angular.io" target="_blank">Angular Universal</a>
    and
    <a href="https://strapi.io/" target="_blank">Strapi</a>
  </div>
  <div class="beian">
    <a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备19145545号</a>
  </div>
</div>
