.article-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 0;
  }

  .title-item {
    height: 240px;
    .title {
      word-break: keep-all;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;
    }

    .info {
      color: gray;
      font-size: 10px;

      span {
        display: inline-block;
      }

      .user {
        width: 80px;
        text-overflow: ellipsis;
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}
