<div class="blog-page">
  <div class="blog-banner"></div>
  <div class="blog-content">
    <div class="article-container">
      <div class="article-rail">
        <ng-container *ngFor="let item of articleListGroup$[0] | async">
          <ng-container
            [ngTemplateOutlet]="articleItem"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </ng-container>
      </div>
      <div class="article-rail">
        <ng-container *ngFor="let item of articleListGroup$[1] | async">
          <ng-container
            [ngTemplateOutlet]="articleItem"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </ng-container>
      </div>
      <div
        *ngIf="(articleList$ | async).length == 0"
        className="empty-hint"
      ></div>
    </div>
    <mat-paginator
      [pageSize]="10"
      [length]="countOfArticles | async"
      (page)="setPage($event.pageIndex)"
      #paginator
      class="paginator"
    ></mat-paginator>
  </div>
</div>

<ng-template let-item="item" #articleItem>
  <div class="article-item">
    <div class="cover" *ngIf="item.cover">
      <img [src]="item.cover" />
    </div>
    <div class="item-content">
      <div class="article-item--decorate-block"></div>
      <a [routerLink]="'/blog/' + item.id" class="title">
        {{ item.title }}
      </a>
      <div class="brief">
        {{ item.brief || (item.content | removeMarkdown | cutBrief) }}
      </div>
      <div class="info">
        <span class="date">{{ item.updatedAt | date }}</span>
        <span class="user">{{ item.author.username }}</span>
      </div>
      <div class="tag-container" *ngIf="item.splitedTags.length > 0">
        <mat-chip-list>
          <mat-chip
            *ngFor="let tag of item.splitedTags"
            (click)="setTag(tag)"
            selected
            color="primary"
          >
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</ng-template>
