@import "~@angular/material/theming";
@import "~src/theme-define.scss";

@mixin index-layout($theme) {
  $primary: mat-color(map-get($theme, primary));
  .toolbar {
    background-color: transparent;
    color: $primary;
    transition: background ease 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-family: "ming";
    .mat-icon {
      transition: color ease 0.3s;
    }
  }
  .toolbar:hover {
    background-color: $primary;
    color: white;
  }
  .top-button {
    position: fixed;
    right: 50px;
    bottom: 150px;
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;
    &.visible {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@include index-layout($ink-app-theme);
