@import "~@angular/material/theming";
@import "/src/theme-define.scss";

@mixin sidepanel($theme) {
  $primary: mat-color(map-get($theme, primary));

  .side-panel {
    border-radius: $border-radius;
    width: 100%;
    min-height: 300px;
    background: white;
    box-shadow: $card-shadow;
    display: flex;
    flex-direction: column;
    padding: 18px;
    box-sizing: border-box;
    .contact-container {
      color: $primary;

      .contact-icon-wrapper {
        display: flex;
        justify-content: center;
        a {
          height: 32px;
          width: 32px;
          line-height: 32px;

          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@include sidepanel($ink-app-theme);
