<div class="banner-wrap">
  <div class="banner-content">
    <div class="cover-title">
      <h1>
        FrodoLuo
      </h1>
      <h1></h1>
      <h1>笔记</h1>
      <h1>所思所想与所见</h1>
    </div>
    <div class="holding-line-wrap">
      <div class="holding-line"></div>
      <div class="holding-line"></div>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="brief-intro">
    <h1 appOnScrollShow>我</h1>
    <div class="timeline-container">
      <div class="timeline-item" appOnScrollShow>
        1996
      </div>
      <div class="timeline-item" appOnScrollShow>
        2015
        <div class="circle">
          <img style="position: relative; top: 5px;" src="https://www.frodoluo.ink/api/uploads/66ee68bd24764c2291a926b30af97308.jpeg" />
        </div>
      </div>
      <div class="timeline-item" appOnScrollShow>
        2018
        <div class="circle" style="background: black">
          <img src="https://www.frodoluo.ink/api/uploads/b11dc38664db427d86ee18f6eb20e59a.png" />
        </div>
      </div>
      <div class="timeline-item" appOnScrollShow>
        2019
        <div class="circle">
          <img src="https://www.frodoluo.ink/api/uploads/c68bc8050be642ee9ea5436102809265.png" />
        </div>
      </div>
      <div class="timeline-item" appOnScrollShow>
        持步向前
        <div>.</div>
        <div>.</div>
        <div>.</div>
      </div>
    </div>
  </section>
  <section class="recent-articles">
    <h1 appOnScrollShow>近期文章</h1>
  </section>
</div>
