<div class="banner-wrap">
  <div class="banner-content">
    <div class="cover-title">
      <h1>
        FrodoLuo
      </h1>
      <h1></h1>
      <h1>笔记</h1>
      <h1>所思所想与所见</h1>
    </div>
    <div class="holding-line-wrap">
      <div class="holding-line"></div>
      <div class="holding-line"></div>
    </div>
  </div>
</div>
<div class="page-content">
  <section class="recent-articles">
    <h1 appOnScrollShow>近期文章</h1>
    <div class="article-list" appOnScrollShow>
      <div *ngFor="let article of articleList" class="article-list-item">
        <a [routerLink]="'/blog/' + article.id">{{article.title}}</a>
      </div>
    </div>
  </section>
  <section class="brief-intro">
    <h1 appOnScrollShow>我</h1>
    <div class="timeline-container">
      <div class="timeline-item" appOnScrollShow>
        1996
      </div>
      <div class="timeline-item" appOnScrollShow *ngFor="let career of (career$ | async)">
        {{career.year}}
        <div class="circle">
          <img [src]="career.source" />
        </div>
      </div>
      <div class="timeline-item" appOnScrollShow>
        未完待续
        <div>.</div>
        <div>.</div>
        <div>.</div>
      </div>
    </div>
  </section>
</div>
