@import "~@angular/material/theming";
@import "~src/theme-define.scss";

@mixin index-layout($theme) {
  $primary: mat-color(map-get($theme, primary));

  mat-toolbar {
    background: white;
    color: $primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: fixed;
  }

  .nav-content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin: auto;
  }

  main {
    max-width: 1024px;
    margin: auto;
    position: relative;
    display: flex;
    .page-content {
      flex: 1;
      padding: 86px 16px 16px 16px;
      min-height: calc(100vh - 64px - 54px);
      box-sizing: border-box;
      max-width: 768px;
      margin-right: auto;
      margin-left: 0;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 100
    }
    .sider {
      width: 240px;
      margin-left: 16px;
      margin-top: 80px;
      right: 0;
      top: 80px;
    }
  }

  .footer {
    margin: 10px 0;
    color: gray;

    .copy {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .beian {
      cursor: pointer;

      a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: gray;
        cursor: pointer;
        text-decoration: none;
        transition: all ease 0.3s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@include index-layout($ink-app-theme);
