@import '~@angular/material/theming';
@import '/src/theme-define.scss';

@mixin photoPage($theme) {
  .photo-page {
    margin-top: 24px;
    .photo-container {
      display: flex;
      width: 100%;
      .photo-rail {
        flex: 1;
        display: flex;
        flex-direction: column;
        &:not(:last-child) {
          margin-right: 24px;
        }

        .photo-item {
          box-shadow: $card-shadow;
          border-radius: $border-radius;
          margin-bottom: 24px;
          overflow: hidden;
          display: flex;
          position: relative;
          cursor: pointer;
          img {
            width: 100%;
            object-fit: contain;
          }
          .description {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 12px;
            box-sizing: border-box;
            overflow: auto;
            opacity: 0;
            background: rgba(255, 255, 255, 0.7);
            transition: opacity ease 0.3s;
          }

          &:hover {
            .description {
              opacity: 1;
            }
          }
        }
      }
    }
    .paginator {
      box-shadow: $card-shadow;
      border-radius: $border-radius;
    }
  }
}

@include photoPage($ink-app-theme);
