<div class="photo-page">
  <ng-container>
    <ng-container
      [ngTemplateOutlet]="
        (screenService.currentScreenSize$ | async) === 0 ||
        (screenService.currentScreenSize$ | async) === 2
          ? smallAlbum
          : fullAlbum
      "
    ></ng-container>
    <div *ngIf="(albumService.photos$ | async).length == 0" class="empty-hint">
      <i class="iconfont icon-empty"></i>
      Opps, Nothing Found...
    </div>
    <mat-paginator
      [pageSize]="10"
      [length]="albumService.countOfPhotos$ | async"
      (page)="setPage($event.pageIndex)"
      #paginator
      class="paginator"
    ></mat-paginator>
  </ng-container>
</div>

<ng-template #smallAlbum>
  <div class="photo-container">
    <div class="photo-rail">
      <ng-container
        *ngFor="let photo of albumService.photos$ | async"
        [ngTemplateOutlet]="photoItem"
        [ngTemplateOutletContext]="{ photo: photo }"
      >
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #fullAlbum>
  <div class="photo-container">
    <div class="photo-rail">
      <ng-container
        *ngFor="let photo of photoGroup$[0] | async"
        [ngTemplateOutlet]="photoItem"
        [ngTemplateOutletContext]="{ photo: photo }"
      >
      </ng-container>
    </div>
    <div class="photo-rail">
      <ng-container
        *ngFor="let photo of photoGroup$[1] | async"
        [ngTemplateOutlet]="photoItem"
        [ngTemplateOutletContext]="{ photo: photo }"
      >
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #photoItem let-photo="photo">
  <div class="photo-item" (click)="setFull(photo)">
    <img [src]="photo.source" />
    <div class="description">{{ photo.description }}</div>
  </div>
</ng-template>
