@import "~@angular/material/theming";
@import "~src/theme-define.scss";

@mixin nav-menu($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));

  .menu-wrapper {
    position: relative;

    button {
      color: white;
      height: 64px;
      width: 32px;

      mat-icon {
        font-size: 24px;
      }
    }
  }

  .menu-wrapper-expand {
    .menu-item-content {
      color: white;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      .icon {
        margin-left: 8px;
      }
    }
  }
}

@include nav-menu($ink-app-theme);
