/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "./assets/styles/article.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, serif;
  background: #f5faff; 
}

* {
  font-family: 'ming', serif;
}

.lazy-fading {
  opacity: 0;
  position: relative;
  &.show {
    animation: fading 1s forwards;
  }
}

@keyframes fading {
  0% {
    top: 16px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}