/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@import "./assets/styles/article.scss";

html {
  background: #f6f5ff;
}

body {
  margin: 0;
  font-family: Roboto, serif;
}

@mixin common-entity($theme) {
  $primary: mat-color(map-get($theme, primary));

  .page {
    background: transparent;
  }
  a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    transition: all ease 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
}

@include common-entity($ink-app-theme);