/* You can add global styles to this file, and also import other style files */
/**

This file defines the global styles. All this class will implit all elements matches selector(No [data] property specified)

*/
@import "./theme.scss";
@import "./assets/styles/article.scss";

html {
  background: #f4f4f4;
}

body {
  margin: 0;
  font-family: -apple-system, Microsoft Yahei, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@mixin common-entity($theme) {
  $primary: mat-color(map-get($theme, primary));

  .page {
    background: transparent;
  }
  a {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    transition: all ease 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
  .main-content {
    max-width: 786px;
    left: 0;
    padding: 32px 4rem;
    background: white;
  }

  .small-screen .main-content {
    padding: 1.5rem;
  }
}

@include common-entity($ink-app-theme);
